<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ocorreu um erro</title>
    <style>
        body {
            background-color: #101524 !important;
            color: #f2ddcc !important;
            font-family: Arial, sans-serif !important;
            text-align: center !important;
            padding-top: 60px !important;
        }

        a {
            color: #f2ddcc !important;
            text-decoration: underline !important;
            font-weight: bold !important;
        }
    </style>
</head>

<body>
    Ocorreu um erro ao criar a playlist.<br>
    <a href="/" >Voltar para o início</a>
</body>

</html>
